body{
  background-color: #F5F3EE;
  font-family: "Times New Roman", serif;
  font-size: 16pt;
  padding: 10px;
}

div{
  padding-left: 80px;
  width:80%;
}

h1{
  color:#000000;
  font-weight: bold;
  font-family: fantasy;
  text-shadow: 2px 2px #4A96AD;
}

h3{
  color:#000000;
  font-family: "Times New Roman", serif;
  font-weight: bold;
  font-family: fantasy;
}
p{
  color: #7D1935;
}

a{
  color:#4A96AD;
}

img{
  padding-top: 20px;
  padding-bottom: 20px:
}

/*target an id using the # symbol*/
#CSS-def{
  color: black;
}

/*target a class using the . symbol*/
.boxed{
  border-color: black;
  border-style: inset;
}

#reflect-box{
  width:80%;
  height:50%;
  background-color: #7D1935;
  visibility: hidden;
  position: fixed;
  left: 100px;
   top: 200px;
  border-style: solid;
  border-radius: 5px;
  border-width: thick;


}

#pop{
  color: #FFFFFF;
  text-align: center;
  vertical-align: middle;
  font-size: 24pt;
}

#script-content{
  visibility: hidden;
}
